<!DOCTYPE html>
<html lang="en">
<head>
  <title>ONYX INDIA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>


<h1>This is the products page</h1>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="img/samsungMobile1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Cell Phone</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      
      <a href="#" class="btn btn-primary">ADD TO CART</a>
      <a href="#" class="btn btn-primary">BUY NOW</a>
    </div>
  </div>

</body>
</html>